﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Listado de posts</h1>
    <table class="table-bordered table">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Titulo</td>
                <td>
                    <input onclick="document.location.href='@Url.Content("~/Home/Edit/"+post.Id)'" type="button" value="Edit" class="btn btn-dark">
                    <input onclick="document.location.href='@Url.Content("~/Home/Delete/"+post.Id)'" type="button" value="Delete" class="btn btn-dark">

                </td>
            </tr>
        }
    </table>
</div>
