﻿@model Back.model.Post
<div>
    <div class="col-md-2"></div>
    <div class="col-md=8">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Titulo</label>
                @Html.TextBoxFor(x => x.Titulo, htmlAttributes: new { @class = "form-control", @required = "required" })
            </div>
            <div class="form-group">
                <label>Contenido</label>
                @Html.TextAreaFor(x => x.Contenido, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Imagen</label>
                @Html.TextBoxFor(x => x.Urlimagen, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Categoria</label>
                @Html.DropDownListFor(x => x.Categoria, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Politica", Value = "1" },
                       new SelectListItem{ Text="Economia", Value = "2" },
                       new SelectListItem{ Text="Local", Value = "3" },
                    }, new { @class = "form-control" } )
            </div>
            <div class="form-group">
                <label>Fecha</label>
                @Html.TextBoxFor(x => x.FechaCreacion, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            </div>
            <input type="file" />
            <div>

            </div>

            <input type="submit" value="Cargar" class="btn btn-primary" />

        }
    </div>
    <div class="col-md-2"></div>
</div>