﻿@model Back.model.Post
<div>
    <div class="col-md-2"></div>
    <div class="col-md=8">
        @using (Html.BeginForm())
        {
            <div>
                <label>ID</label>
                @Html.TextBoxFor(x => x.Id, htmlAttributes: new { @class = "form-control", @disable = "disable", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>Titulo</label>
                @Html.TextBoxFor(x => x.Titulo, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>Contenido</label>
                @Html.TextAreaFor(x => x.Contenido, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>Fecha</label>
                @Html.TextBoxFor(x => x.FechaCreacion, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @readonly="readonly"})
            </div>
            <input type="submit" value="Modificar" class="btn btn-primary" />

        }
    </div>
    <div class="col-md-2"></div>
</div>